#header {
    height: 10dvh;
    padding-top: 2dvh;
}

#play {
    position: fixed;
    left: 2.5vw;
    font-size: 4dvh;
    width: 20dvh;
    padding: 0;
}
.speed_button{
    font-size: 4dvh;
    margin-left: 1.5vw;
    width: 6dvh;
}

h1 {
    text-align: center;
    font-size: 3vh;
    margin: 5vw;
}

#speed_div{
    position: fixed;
    right: 2.5vw;
}

#card, img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95vw;
  max-height: 75dvh;
  margin-bottom: 32dvh;
}

#footer {
    position: fixed;
    font-size: 2vh;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    width: 100%;
    bottom: 1dvh;
}

.fa-linkedin {color: #0A66C2;}
.fa-youtube {color: #FF0000;}
.fa-soundcloud {color: #F26F23;}
.fa-github {color: #171515;}
.fa-pinterest {color: #BD081C;}

.social-media-icon {margin: 0 1vh;}

.social-media-icon:hover {transform: scale(1.5);}
